@import "variables";

.bg-secondary{
    background-color: @grey !important;
}
.border-success{
    border-color: @green !important;
}
.border-warning{
    border-collapse: @orange !important;
}
.bg-danger{
    background-color: @red !important;
}
.border-primary {
    border-color: @blue !important;
  }
  

  .navbar {
       .active {
      .nav-link {
        background-color: @blue;
        color: #fff !important;
        padding: 15px 20px;
      }
    }
  }