$body_color:white;
$font-family: Geneva, Arial, Helvetica, sans-serif;
$a-clr: #4ec3d8;
$h1_color_for_id_about:deepskyblue;
$p_color:#315353;
$line_nav: deepskyblue;
$tool_bar_border:skyblue;
$tool_bar_input_color: #1fbcd3;
$type_submit_background-color: deepskyblue;
$tool_bar_back_ground_color: white;
$the_last_unput_backgroun_color:deepskyblue;
