$body_color:#c6c4c4;
$font-family: Georgia, 'Times New Roman', Times, serif;
$line_nav: #989898;
$a-clr: red;
$h1_color_for_id_about:red;
$p_color:#477777;
$tool_bar_border:red;
$tool_bar_input_color: red;
$type_submit_background-color: red;

$tool_bar_back_ground_color: #c6c4c4;
$the_last_unput_backgroun_color:red;