/* Your styles go here */


#modifyItem{
    display: none;
}
#addNew{
     display: none;
 }

img{
    width: 20px;
}
li{
    list-style-type: none;
}
.doneIcon{
    display: none;
}
p{
    display: inline-block;
}
